/*
 * Main css for the Heart and Sole site.
 */

* {
    font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
    color:  rgb(75, 75, 75);
}

h1 {
    font-size: 400%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.splash-container {
    background-image: url('../img/main.jpg');
    background-size: 100%;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    position: fixed !important;
}


.coming-soon{
    position: fixed; 
    bottom: 0; 
    margin-left: 20px;
}